:root {
  font-size: 20px;
  --color-white: #ffffff;
  --color-first: #16aaaa;
  --color-second: #f27779;
  --color-main: #2e5777;
  --color-light: #85c7c6;
  --color-lighter: #a8d6d3;
}

@media (prefers-color-scheme: dark) {

}
